<div class="app">
  <div class="souls-card">
    <div class="counter">
      <span class="digit" *ngFor="let digit of digits">{{ digit }}</span>
    </div>
    <div class="production-info">
      {{ production | number:'1.0-1' }} Almas/seg
    </div>
  </div>
  <div class="toggle-card">
    <div class="toggle-bar">
      <div class="toggle-button" *ngFor="let item of items; let i = index"
        [class.selected]="i === selectedIndex" (click)="select(i)">
        {{ item }}
      </div>
    </div>
  </div>
  <div class="servants-card">
    <div class="servant-card" *ngFor="let servant of servants">
      <div class="count-section">
        <div class="count-progress">
          <div class="count-progress-bar" [style.height.%]="getCountProgress(servant)"></div>
        </div>
        <span class="count" *ngIf="servant.count > 0">
          {{ servant.count }}
        </span>
      </div>
      <div class="info-section">
        <div [class.locked]="!servant.unlocked">
          <div class="header">
            <span class="name">{{ servant.unlocked ? servant.name : '???' }}</span>
          </div>
          <div class="cycle-progress">
            <div class="cycle-progress-bar" [style.width.%]="getCycleProgress(servant)"></div>
          </div>
          <div class="body">
            <div class="property">{{ servant.soulsProduced }} Alma(s) recebida(s)</div>
          </div>
        </div>
      </div>
      <div class="buy-section" [class.disabled]="!canBuyServant(servant)" (click)="buyServant(servant)">
        <span class="buy-cost" *ngIf="servant.count > 0">
          {{ servant.cost }}
        </span>
        <div class="buy-progress">
          <div class="buy-progress-bar" [style.height.%]="getBuyServantProgress(servant)"></div>
        </div>
      </div>
    </div>
  </div>
</div>