<div class="app">
  <div class="app__card">
    <div class="app__counter-container">
      <app-counter [value]="souls"></app-counter>
    </div>
    <div class="app__production-info">
      {{ production | number:'1.2-2' }} Souls/sec
    </div>
  </div>
  <div class="app__card">
    <div class="app__toggle-bar">
      <app-toggle-button
        [items]="['One','Next','Max']"
        [selectedIndex]="getSelectedIndex()"
        (selectionChange)="onPurchaseToggle($event)">
      </app-toggle-button>
    </div>
  </div>
  
  <div class="app__card">
    <div class="app__servants">
      <div class="app__servant" *ngFor="let servant of servants">
        <app-button 
          [text]="servant.unlocked ? servant.name : '???'" 
          [icon]="!servant.unlocked ? '' : servant.count == 0 ? 'add' : 'keyboard_arrow_up'"
          [badge]="servant.count > 0 ? servant.count : undefined"
          [tooltip]="servant.unlocked ? 'Custo: ' + servant.cost + ' souls' : 'Desbloqueie para comprar'"
          [disabled]="!servant.unlocked || souls < servant.cost" 
          (buttonClick)="buyServant(servant)">
        </app-button>
      </div>
    </div>
  </div>
</div>
