.app {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__card {
    background: var(--background-100);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__counter-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
  }

  &__production-info {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: var(--neutral-100);
    padding-left: 10px;
  }

  &__toggle-bar {
    display: flex;
    justify-content: center;
  }

  &__servants {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__servant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__servant-info {
    color: var(--neutral-100);
    margin-bottom: 5px;

    &--locked {
      opacity: 0.5;
    }
  }

  &__button {
    padding: 5px 10px;
    border: none;
    background: var(--background-100);
    color: var(--neutral-100);
    border-radius: 5px;
    cursor: pointer;

    &--disabled {
      background: var(--background-200);
      cursor: not-allowed;
    }
  }
}